<div>
  <form action="" method="post">
    
    <!-- Event name -->
    <label for="">
      Event name:
      <input type="text" name="Name" required="true" />
    </label>

    <!-- Date -->
    <label for="">
      Date:
      <input
        type="date"
        name="Date"
        placeholder="Date and Time"
        required="true"
      />
    </label>

    <!-- EgressTime -->
    <label for="">
      EgressTime:
      <input type="text" name="EgressTime" placeholder="Time">
    </label>

    <!-- postcode -->
    <label for="">
      postcode:
      <input type="text" name="postcode" required="true" />
    </label>

    <!-- Location -->
    <label for="">
      Location on the map:
      <label for="">
        Latitude:
        <input type="text" name="Longitude" placeholder="Latitude" />
      </label>
      <label for="">
        Longitude:
        <input type="text" name="Longitude" placeholder="Longitude" />
      </label>
    </label>

    <!-- Capacity -->
    <label for="">
      Capacity:
      <input type="text" name="Capacity" placeholder="Capacity" />
    </label>

    <!-- Description -->
    <label for="">
      Description:
      <input type="text" name="Description" placeholder="Description of the event!" />
    </label>

    <!-- Contact -->
    <label for="">
      Contact information:
      <input type="text" name="Contact" placeholder="Venues contact information"/>
    </label>

    <!-- minimum number of drivers -->
    <label for="">
      minimum no of drivers:
      <input type="text" name="MinimumNumberOfDrivers" required="" true />
    </label>

    <!-- maximum number of drivers -->
    <label for="">
      maximum no of drivers:
      <input type="text" name="MaximumNumberOfDrivers" required="true" />
    </label>

</div>

<!-- 
"Name": "Arsenal vs Tottenham",
"Date": "01-12-2023",
"Location on the map" : ["63.33515","-66.82910"],
"Capacity": "40000",
"EgressTime" : "17:00",
"Description of the event": "This is a football match",
"Venues contact information": "02067654566",
"MinimumNumberOfDrivers": "10",
"MaximumNumberOfDrivers": "45", -->
