<nav>
  <div>
    <ul>
      <li><a href="http://""><span><i></i>Home</span></a></li>
      <li><a href="http://""><span><i></i>About us</span></a></li>
      <li><a href="http://""><span><i></i>Contact</span></a></li>
      <li><a href="http://""><span><i></i>Offers</span></a></li>
    </ul>
    <div>
      <a href="http://""><span><i></i>Login/Register</span></a>
    </div>
  </div>
</nav>
